<h1>Featured Projects</h1>
<div class= 'panel' >
<p>Below you will find a list of the brilliant projects created by the 2014 winter cohort at Devpoint Labs.
Click on a project to learn more about it and try it out.</p>
</div>


